<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HTML Demo</title>
<style>
  body {
    margin: 0; padding: 0;
  }
  .fll {
    border-style: solid;
    border-radius: 5px;
    text-align: center;
  }
  div {
    background-color: aquamarine;
  }

</style>
</head>
<body>
  <div class="fll">
    <span>xyz</span>
  </div>
  <div>
    <h1>HTML DEMO!</h1>
    <p>Dette er første paragraph</p>
    <p>Dette er anden paragraph</p>
  </div>
</body>
<footer>
  Address: Dat22v2
</footer>
</html>
