<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web</title>
    <!-- link til stylesheet -->
    <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../static/css/myStyles.css"/>
</head>
<body>
    <div>
        <h1>HTML DEMO!</h1>
        <p>Dette er første paragraph</p>
        <p>Dette er anden paragraph</p>
    </div>
    <div>
        <a th:href="@{about}" href="about.html">Klik ikke på dette link!</a>
    </div>
</body>
<footer>
    Adresse: Meinungsgade 6, Nørrebronx
</footer>
</html>